langchain_huggingface
langchain_community
langchain_text_splitters
langchain
langchain_core
pandas
transformers
python-dotenv
bitsandbytes
accelerate
unstructured
protobuf==4.25.4
qdrant-client
langchainhub